* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Unbounded", sans-serif;
}

body {
    background-color: #f4ebdc;
}


body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #f4ebdc;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #5c2308;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #5c2308;
    /* creates padding around scroll thumb */
}

.update-notification {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #323232;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
  }
  
  .update-notification .message {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .update-notification p {
    margin: 0;
  }
  
  #refresh-button {
    background-color: #ff4081;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }  

/* HEADER PC ---------------------------------------------------------------------*/
#header {
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 100px;
    background-color: #B22222;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#header img {
    width: 175px;
    height: auto;
    image-rendering: auto;
    /* Suaviza a imagem para uma aparência melhor */
    image-rendering: -webkit-optimize-contrast;
    /* Suaviza a imagem em navegadores WebKit */
    image-rendering: crisp-edges;
    /* Evita bordas serrilhadas, se possível */
    image-rendering: pixelated;
}

#header-menu {
    height: 100%;
    align-items: center;
    display: flex;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-right: 15px;
    margin-left: 15px;
}

ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    color: white;
    transition: all ease 0.3s;
}

ul li a:hover {
    color: rgb(206, 206, 131);


}

ul li a>svg path {

    fill: antiquewhite;
    transition: all ease 0.3s;
}

ul li a:hover>svg path {
    fill: rgb(206, 206, 131);
}

ul li a i {
    font-size: 30px;
}

#header-carrinho {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#header-carrinho button {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    background-color: #B22222;
    border: none;
    cursor: pointer;

}

#header-carrinho button span {
    font-size: 1rem;
    font-weight: 800;
    color: #5c2308;
    background-color: antiquewhite;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    margin-bottom: -20px;
    text-decoration: none;
    transition: all ease 0.3s;
}

#header-carrinho button:hover>span {

    background-color: white;
}

#header-carrinho button>svg path {

    fill: white;
    transition: all ease 0.3s;
}

#header-carrinho button:hover>svg path {
    fill: antiquewhite;
}



/* HEADER MOBILE ---------------------------------------------------------------------*/

#header-menu-mobile {
    position: fixed;
    left: 0;
    top: 85px;
    height: 70px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: none;
    align-items: center;
    padding-left: 10px;
    background-color: #B22222;
}

#header-menu-mobile a {
    box-shadow: scroll;
    font-size: 0.7rem;
}

#header-menu-mobile::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    /* width of the entire scrollbar */
}

#header-menu-mobile::-webkit-scrollbar-track {
    background: #ee7700;
    /* color of the tracking area */
}

#header-menu-mobile::-webkit-scrollbar-thumb {
    background-color: #5c2308;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #5c2308;
    /* creates padding around scroll thumb */
}

/* INICIO ---------------------------------------------------------------------*/
#inicio {
    margin-top: 100px;
    height: 70vh;
    background-image: url('/imagens/fundo.png');
    background-color: #471803;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

/* CARDAPIO ---------------------------------------------------------------------*/
#cardapio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

#cardapio p {
    color: white;
    background-color: #B22222;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;


}

/* LISTAGEM DOS LANCHES ---------------------------------------------------------------------*/
#salgados,
#batatas,
#bebidas,
#pasteisEspeciais,
#pastel,
#sorvete,
#hamburguer {
    padding: 5%;
    width: 100%;
    margin-top: 20px;
}

#salgados h1,
#batatas h1,
#bebidas h1,
#pasteisEspeciais h1,
#pastel h1,
#sorvete h1,
#hamburguer h1 {
    margin-left: 60px;
    color: #5c2308;
    font-size: 2.6rem;
}

.container-salgados,
.container-batatas,
.container-bebidas,
.container-pasteisEspeciais,
.container-pastel,
.container-sorvete,
.container-hamburguer {
    width: 100%;

    height: 400px;
    display: flex;
    justify-content: space-between;
}

.salgados-seta-right,
.salgados-seta-left,
.batatas-seta-right,
.batatas-seta-left,
.bebidas-seta-right,
.bebidas-seta-left,
.pasteisEspeciais-seta-right,
.pasteisEspeciais-seta-left,
.pastel-seta-right,
.pastel-seta-left,
.sorvete-seta-right,
.sorvete-seta-left,
.hamburguer-seta-right,
.hamburguer-seta-left {
    height: 100%;
    width: 40px;
    background-color: #f4ebdc;
    display: flex;
    align-items: center;
}

.batatas-seta-right,
.batatas-seta-left {
    opacity: 0;
}


.salgados-seta-right,
.batatas-seta-right,
.bebidas-seta-right,
.pasteisEspeciais-seta-right,
.pastel-seta-right,
.sorvete-seta-right,
.hamburguer-seta-right {
    justify-content: end;
}

.salgados-seta-right svg,
.salgados-seta-left svg,
.batatas-seta-right svg,
.batatas-seta-left svg,
.bebidas-seta-right svg,
.bebidas-seta-left svg,
.pasteisEspeciais-seta-right svg,
.pasteisEspeciais-seta-left svg,
.pastel-seta-right svg,
.pastel-seta-left svg,
.sorvete-seta-right svg,
.sorvete-seta-left svg,
.hamburguer-seta-right svg,
.hamburguer-seta-left svg {
    width: 40px;
}

.salgados-seta-left>svg path,
.salgados-seta-right>svg path,
.batatas-seta-left>svg path,
.batatas-seta-right>svg path,
.bebidas-seta-left>svg path,
.bebidas-seta-right>svg path,
.pasteisEspeciais-seta-left>svg path,
.pasteisEspeciais-seta-right>svg path,
.pastel-seta-left>svg path,
.pastel-seta-right>svg path,
.sorvete-seta-left>svg path,
.sorvete-seta-right>svg path,
.hamburguer-seta-right>svg path,
.hamburguer-seta-left>svg path {

    fill: #471803;
    transition: all ease 0.3s;
    cursor: pointer;
}

.batatas-seta-left>svg path,
.batatas-seta-right>svg path {
    cursor: none;
}

.salgados-seta-right svg:hover path,
.salgados-seta-left svg:hover path,
.batatas-seta-right svg:hover path,
.batatas-seta-left svg:hover path,
.bebidas-seta-right svg:hover path,
.bebidas-seta-left svg:hover path,
.pasteisEspeciais-seta-right svg:hover path,
.pasteisEspeciais-seta-left svg:hover path,
.pastel-seta-right svg:hover path,
.pastel-seta-left svg:hover path,
.sorvete-seta-right svg:hover path,
.sorvete-seta-left svg:hover path,
.hamburguer-seta-right svg:hover path,
.hamburguer-seta-left svg:hover path {
    fill: #ee7700;
}

.salgados-listarea,
.batatas-listarea,
.bebidas-listarea,
.pasteisEspeciais-listarea,
.pastel-listarea,
.sorvete-listarea,
.hamburguer-listarea {
    height: 100%;
    width: 100%;

    overflow: hidden;
}

.salgados-list,
.batatas-list,
.bebidas-list,
.pasteisEspeciais-list,
.pastel-list,
.sorvete-list,
.hamburguer-list {
    height: 100%;
    width: 3400px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
}

.pasteisEspeciais-list {
    width: 1700px;
}

.batatas-list {
    width: 1020px;
}

.batatas-list,
.pastel-list {
    width: 3740px;
}

.sorvete-list {
    width: 4280px;
}

.salgados-item,
.batatas-item,
.bebidas-item,
.pasteisEspeciais-item,
.pastel-item,
.sorvete-item,
.hamburguer-item {
    width: 300px;
    height: 350px;
    background-color: #471803;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 40px;
}

.salgados-item-area1,
.batatas-item-area1,
.bebidas-item-area1,
.pasteisEspeciais-item-area1,
.pastel-item-area1,
.sorvete-item-area1,
.hamburguer-item-area1 {
    width: 100%;
    background-color: #fe8824;
    height: 45%;
    border-radius: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.salgados-item-area1 img,
.batatas-item-area1 img,
.bebidas-item-area1 img,
.pasteisEspeciais-item-area1 img,
.pastel-item-area1 img,
.sorvete-item-area1 img,
.hamburguer-item-area1 img {
    height: 80%;
}

.sorvete-item-area1 img {
    height: 230.5px;
    margin-top: -100px;
}

.salgados-item-area2,
.batatas-item-area2,
.bebidas-item-area2,
.pasteisEspeciais-item-area2,
.pastel-item-area2,
.sorvete-item-area2,
.hamburguer-item-area2 {
    width: 100%;
    padding: 1rem;

}

.salgados-item-area2 h2,
.batatas-item-area2 h2,
.bebidas-item-area2 h2,
.pasteisEspeciais-item-area2 h2,
.pastel-item-area2 h2,
.sorvete-item-area2 h2,
.hamburguer-item-area2 h2 {
    color: #ee7700;
    font-size: 1.3rem;
    line-height: 20px;
}

.salgados-item-area2 p,
.batatas-item-area2 p,
.bebidas-item-area2 p,
.pasteisEspeciais-item-area2 p,
.pastel-item-area2 p,
.sorvete-item-area2 p,
.hamburguer-item-area2 p {
    color: antiquewhite;
    font-size: 0.7rem;
    margin-top: 5px;
}

.salgados-item-area3,
.batatas-item-area3,
.bebidas-item-area3,
.pasteisEspeciais-item-area3,
.pastel-item-area3,
.sorvete-item-area3,
.hamburguer-item-area3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.salgados-item-area3 h2,
.batatas-item-area3 h2,
.bebidas-item-area3 h2,
.pasteisEspeciais-item-area3 h2,
.pastel-item-area3 h2,
.sorvete-item-area3 h2,
.hamburguer-item-area3 h2 {
    color: #ee7700;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.salgados-item-area3 h2 span,
.batatas-item-area3 h2 span,
.bebidas-item-area3 h2 span,
.pasteisEspeciais-item-area3 h2 span,
.pastel-item-area3 h2 span,
.sorvete-item-area3 h2 span,
.hamburguer-item-area3 h2 span {
    font-size: 1rem;
}

.salgados-item-area3 .salgados-plus,
.batatas-item-area3 .batatas-plus,
.bebidas-item-area3 .bebidas-plus,
.pasteisEspeciais-item-area3 .pasteisEspeciais-plus,
.pastel-item-area3 .pastel-plus,
.sorvete-item-area3 .sorvete-plus,
.hamburguer-item-area3 .hamburguer-plus {
    border: 2px solid #f4ebdc;
    border-radius: 15px;
    padding: 0.8rem;
    margin-left: 30px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.sorvete-item-area3 .sorvete-plus {
    margin-left: 0;
}

.salgados-item-area3 .salgados-plus:hover,
.batatas-item-area3 .batatas-plus:hover,
.bebidas-item-area3 .bebidas-plus:hover,
.pasteisEspeciais-item-area3 .pasteisEspeciais-plus:hover,
.pastel-item-area3 .pastel-plus:hover,
.sorvete-item-area3 .sorvete-plus:hover,
.hamburguer-item-area3 .hamburguer-plus:hover {
    background-color: #f4ebdc;
}

.salgados-plus svg,
.batatas-plus svg,
.bebidas-plus svg,
.pasteisEspeciais-plus svg,
.pastel-plus svg,
.sorvete-plus svg,
.hamburguer-plus svg {
    fill: #f4ebdc;
}

.salgados-plus:hover>svg path,
.batatas-plus:hover>svg path,
.bebidas-plus:hover>svg path,
.pasteisEspeciais-plus:hover>svg path,
.pastel-plus:hover>svg path,
.sorvete-plus:hover>svg path,
.hamburguer-plus:hover>svg path {

    fill: #5c2308;
}

/* MODAL PRODUTO ---------------------------------------------------------------------*/
.produto-modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(92, 35, 8, 0.8);
    display: none;
    align-items: center;
    justify-content: center;

}

.show {
    display: flex;
}

@keyframes scale-in {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.produto {
    transition: all ease 0.4s;
    max-width: 900px;
    background-color: #ee7700;
    border-radius: 40px;
    box-shadow: 0px 0px 15px #111;
    display: flex;
    -webkit-animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    flex-wrap: wrap; /* Permite que os elementos se ajustem */
}

.produto-img {
    height: auto; /* Alterado para auto para se ajustar ao conteúdo */
    width: 250px;
    background-color: #f4ebdc;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produto-img img {
    width: 80%;
}

.produto-informacoes {
    flex: 1; /* Flexível, ocupando o espaço disponível */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.produto-informacoes-area1 {
    width: 100%;
    padding: 1rem 1.5rem;
    padding-top: 2.5rem;
    overflow-y: auto; /* Permite rolagem se necessário */
    max-height: 400px; /* Altura máxima para limitar a altura da área */
}

.produto-informacoes-area1 h2 {
    color: #f4ebdc;
    font-size: 1.3rem;
}

.produto-informacoes-area1 p {
    color: #471803;
    font-weight: 500;
    font-size: 1rem;
}

.produto-informacoes-area2 {
    padding: 1rem 1.5rem;
    padding-top: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.produto-informacoes-area2 h3 {
    color: white;
    font-size: 0.9rem;
}

.produto-informacoes-area2 h2 {
    color: #f4ebdc;
    font-weight: 500;
    font-size: 2rem;
}

.produto-quantidade {
    display: flex;
    align-items: center;
    border: 2px solid #f4ebdc;
    border-radius: 60px;
    overflow: hidden;
}

.produto-quantidade h3 {
    color: #f4ebdc;
    font-weight: 500;
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.produto-quantidade button {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

.produto-quantidade button:hover {
    background-color: #5c2308;
}

.produto-quantidade button h1 {
    color: #ee7700;
    font-size: 2.2rem;
    font-weight: 500;
}

.produto-informacoes-area3 {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

.produto-informacoes-area3 button {
    font-size: 0.9rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

#add {
    background-color: #5c2308;
    color: white;
    border-radius: 30px;
    padding: 1.2rem;
    transition: all ease 0.3s;
}

#add:hover {
    background-color: #371200;
}

.cancela {
    background-color: #ee7700;
    color: #f4ebdc;
    margin-left: 1rem;
    font-size: 1.1rem;
    transition: all ease 0.3s;
}

.cancela:hover {
    color: #5c2308;
}

/* Estilos para listas de sabores e acompanhamentos */
.sabores-list, .acompanhamentos-list, .adicionais-list {
    padding: 0.5rem 1rem; /* Adiciona padding para espaçamento */
    background-color: #f4ebdc; /* Cor de fundo para destacar */
    border-radius: 10px; /* Bordas arredondadas */
    margin-top: 0.5rem; /* Espaço acima */
    max-height: 150px; /* Altura máxima */
    overflow-y: auto; /* Permite rolagem se necessário */
}


@keyframes slidein {
    from {
        height: 100%;
        width: 0
    }

    to {
        height: 100%;
        width: 700px;
    }
}

@keyframes slideout {
    from {
        height: 100%;
        width: 700px
    }

    to {
        height: 100%;
        width: 0px;
    }
}

/* Estilo para o campo de descrição no modal */
#produto-descricao {
    width: 100%;
    /* Largura total do container */
    height: 80px;
    /* Altura do campo */
    padding: 10px;
    /* Espaçamento interno */
    margin-top: 10px;
    /* Margem acima do campo */
    border: 1px solid #ccc;
    /* Borda cinza clara */
    border-radius: 4px;
    /* Bordas arredondadas */
    font-size: 16px;
    /* Tamanho da fonte */
    resize: none;
    /* Impede redimensionamento manual */
}

.metodo-entrega {
    color: white;
    margin-top: 20px; /* Espaçamento superior */
    border-radius: 8px; /* Cantos arredondados */
    padding: 10px; /* Espaçamento interno */
    background-color: #5c2308; /* Cor de fundo suave */
}

.opcao-entrega {
    margin-bottom: 10px; /* Espaçamento entre as opções */
    display: flex; /* Flexbox para alinhar input e label */
    align-items: center; /* Alinha verticalmente */
}

.label-entrega {
    margin-left: 8px; /* Espaçamento à esquerda do label */
    font-weight: bold; /* Estilo em negrito */
}

.input-endereco {
    margin-top: 5px; /* Espaçamento acima do input de endereço */
    padding: 8px; /* Espaçamento interno do input */
    width: 100%; /* Ocupa toda a largura disponível */
    border: 1px solid #ccc; /* Borda leve */
    border-radius: 4px; /* Cantos arredondados */
}


.carrinho-item p {
    max-width: 100%;
    /* Limita a largura máxima */
    overflow-wrap: break-word;
    /* Permite que o texto quebre nas palavras */
    overflow: hidden;
    /* Esconde o conteúdo que transborda */
    text-overflow: ellipsis;
    /* Exibe reticências (...) para o texto cortado */
    white-space: normal;
    /* Permite quebras de linha normais */
    padding: 0.5rem;
    /* Adiciona algum espaçamento interno */
    border: 1px solid #ccc;
    /* Opcional: Adiciona uma borda ao redor */
    border-radius: 5px;
    /* Opcional: Bordas arredondadas */
    margin: 0.5rem 0;
    /* Espaçamento ao redor da descrição */
    font-size: 0.9rem;
    /* Tamanho da fonte da descrição */
    color: #555;
    /* Cor da descrição */
    font-style: italic;
}


/* MODAL CARRINHO ---------------------------------------------------------------------*/
.modal-carrinho {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(196, 102, 35, 0.8);
    display: none;
    align-items: center;
    justify-content: end;
}

.carrinho {
    width: 700px;
    height: 100vh;
    background-color: #371200;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    animation-duration: 0.8s;
    animation-name: slidein;
    padding: 5%;
    overflow: scroll;
}

.carrinho::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    /* width of the entire scrollbar */
}

.carrinho-seta {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-around;
}

.carrinho-seta h3 {
    color: #f4ebdc;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
}

.carrinho-seta h3 span {
    color: #ee7700;
}

.carrinho-seta button {
    background-color: #371200;
    border: none;
    cursor: pointer;
}

.carrinho-seta a>svg path {

    fill: #ee7700;
    transition: all ease 0.3s;

}

.carrinho-seta a:hover>svg path {

    fill: #f4ebdc;
}

.carrinho-seta button>svg path {

    fill: #ee7700;
    transition: all ease 0.3s;

}

.carrinho-seta button:hover>svg path {

    fill: #f4ebdc;
}

.carrinho-seupedido {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ee7700;
    font-size: 1.5rem;
}

.carrinho-item {
    display: flex;
    background-color: #5c2308;
    flex-direction: column;
    /* Alinha os elementos em uma coluna para garantir que eles fiquem embaixo uns dos outros */
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    /* Linha separadora entre itens */
}

.carrinho-detalhes {
    display: flex;
    flex-direction: column;
    /* Mantém o nome e a descrição em uma coluna */
    flex: 1;
    /* Permite que o conteúdo ocupe a largura disponível */
}

.carrinho-detalhes h2,
.carrinho-detalhes p {
    margin: 0;
    /* Remove margens para melhor alinhamento */
    overflow-wrap: break-word;
    /* Quebra palavras longas */
    word-wrap: break-word;
    /* Suporte adicional para quebra de palavras */
    word-break: break-word;
    /* Quebra palavras longas para evitar estouro */
}

.carrinho-detalhes p {
    margin-top: 5px;
    /* Espaço entre nome e descrição */
    font-size: 0.9rem;
    /* Ajuste de tamanho da fonte da descrição */
    color: white;
    /* Cor da descrição */
}

.carrinhodiv2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    /* Espaço entre os detalhes do item e os controles de preço/remover */
}

.carrinhodiv2 h4 {
    margin: 0;
    /* Remove margens para manter o alinhamento */
}

.carrinhodiv2 button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    padding: 5px;
}

.carrinho-item div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrinho-item h2 {
    margin: 0;
    /* Remove margens padrão */
    font-size: 1.2rem;
    /* Tamanho da fonte do nome do item */
    font-size: 0.9rem;
    color: #f4ebdc;
}

.carrinho-item h3 {
    font-size: 0.9rem;
    color: #471803;
    background-color: #ee7700;
    border-radius: 1rem;
    padding: 5px;
    margin-right: 10px;
}

.carrinho-item h4 {
    color: #ee7700;
    font-weight: 500;
    font-size: 1.3rem;
}

.carrinho-item button {
    background-color: #5c2308;
    border: none;
    padding: 0.3rem;
    border-radius: 1rem;
    margin-left: 2px;
    cursor: pointer;
}

.carrinho-item button span {

    color: #ee7700;
    transition: all ease 0.3s;
    cursor: pointer;
}

.carrinho-item button:hover>span {

    color: #f4ebdc;
}

.area-adicionar-mais-itens {
    display: flex;
    flex-direction: column;
    /* Altera para empilhar os botões verticalmente */
    align-items: center;
    /* Centraliza os botões horizontalmente */
    margin: 1rem 0;
    /* Margem em cima e embaixo */
}

.area-adicionar-mais-itens button {
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #ee7700;
    border: none;
    border-radius: 2rem;
    color: #371200;
    font-weight: 600;
    cursor: pointer;
    transform: scale(0.95);
    transition: all ease 0.3s;
}

.area-adicionar-mais-itens button:hover {
    transform: scale(1);
    background-color: #bf5900;
}

.total-itens {
    border-top: 1px solid #ee7700;
    margin-top: 1.5rem;
    padding-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-itens h1 {
    font-size: 1.8rem;
    color: #f4ebdc;
    font-weight: 400;
}

.total-itens h2 {
    color: #f4ebdc;
    font-size: 1.8rem;
    font-weight: 400;
}

.show {
    display: flex;
}

footer {
    width: 100%;
    padding: 7rem;
    background-color: #371200;
}

.sabores-selecao, .acompanhamentos-selecao, .adicionais-selecao {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #f4ebdc;
    border-radius: 10px;
}

.sabores-list, .acompanhamentos-list, .adicionais-list {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ver-mais-sabores, .ver-mais-acompanhamentos, .ver-mais-adicionais {
    margin-top: 0.5rem;
    background-color: #5c2308;
    color: #f4ebdc;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.ver-mais-sabores:hover, .ver-mais-acompanhamentos:hover, .ver-mais-adicionais:hover {
    background-color: #371200;
}



/* RESPONSIVIDADE ---------------------------------------------------------------------*/
@media (max-width: 1400px) {
    #header {

        padding-left: 5%;
        padding-right: 5%;

    }
}

@media (max-width: 1200px) {
    #header {
        height: 85px;
        padding-left: 10%;
        padding-right: 10%;

    }

    #header img {
        width: 125px;
        height: auto;
        image-rendering: auto;
        /* Suaviza a imagem para uma aparência melhor */
        image-rendering: -webkit-optimize-contrast;
        /* Suaviza a imagem em navegadores WebKit */
        image-rendering: crisp-edges;
        /* Evita bordas serrilhadas, se possível */
        image-rendering: pixelated;
    }

    #header-menu {
        display: none;
    }

    #header-menu-mobile {
        display: flex;

    }

    #inicio {
        margin-top: 155px;
        height: 40vh;
        background-image: url('fundo-celular.png');
        background-color: #471803;
        background-size: cover;
        background-position: center;
    }

    #salgados,
    #batatas,
    #bebidas,
    #pasteisEspeciais,
    #pastel,
    #sorvete,
    #hamburguer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #salgados h1,
    #batatas h1,
    #bebidas h1,
    #pasteisEspeciais h1,
    #pastel h1,
    #sorvete h1,
    #hamburguer h1 {
        margin-left: 0px;
    }

    .batatas-seta-right,
    .batatas-seta-left {
        opacity: 1;
    }

    .batatas-seta-left>svg path,
    .batatas-seta-right>svg path {
        cursor: pointer;
    }

}

@media(max-width: 460px) {

    #salgados,
    #batatas,
    #bebidas,
    #pasteisEspeciais,
    #pastel,
    #sorvete,
    #hamburguer {
        padding: 0%;
        width: 100%;

    }

    .salgados-item,
    .batatas-item,
    .bebidas-item,
    .pasteisEspeciais-item,
    .pastel-item,
    .sorvete-item,
    .hamburguer-item {
        width: calc(100vw - 80px);
        height: 350px;
        background-color: #471803;
        margin-left: 0px;
        margin-right: 20px;
        border-radius: 40px;
    }

    .salgados-list,
    .batatas-list,
    .bebidas-list,
    .pasteisEspeciais-list,
    .pastel-list .sorvete-list,
    .hamburguer-list {

        width: calc(10* (100vw - 20px));

    }
}

@media(max-width: 670px) {

    .produto {
        flex-direction: column;
        width: 95vw;
    }

    .produto-img {
        height: 20vh;
        width: 100%;
        background-color: #f4ebdc;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .produto-img img {
        width: auto;
        height: 80%;
    }

    .produto-informacoes-area1 {
        width: 100%;
        padding: 1.5rem;
        padding-top: 1.5rem;
    }

    :root {
        font-size: 14px;

    }

    .produto-informacoes {
        height: auto;
        width: 100%;
    }
}

#botaoCaptura {
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #ee7700;
    border: none;
    border-radius: 2rem;
    color: #371200;
    font-weight: 600;
    cursor: pointer;
    transform: scale(0.95);
    transition: all ease 0.3s;
}

#botaoCaptura:hover {
    transform: scale(1);
    background-color: #bf5900;
}

#botaoCaptura:disabled {
    background-color: #ee7700;
    cursor: not-allowed;
}

#conteudo {
    width: 100%; /* Para se ajustar ao tamanho do contêiner pai */
    max-width: 1600px; /* Limita a largura máxima */
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    word-wrap: break-word;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #371200;
}

#conteudo.captura {
    width: 1600px; /* Define uma largura fixa para garantir consistência durante a captura */
    max-width: none; /* Remove a limitação de largura máxima */
    padding: 0; /* Remove padding durante a captura */
    margin: 0 auto; /* Centraliza o conteúdo */
    border: none; /* Remove bordas durante a captura */
    overflow: visible; /* Permite que todo o conteúdo seja visível durante a captura */
}

#conteudo.captura .total-itens {
    position: relative; /* Garante que o elemento seja tratado como parte do fluxo normal do conteúdo */
    bottom: 0;
    background-color: #371200; /* Mantém a cor de fundo */
    padding: 10px;
    border-top: 1px solid #ffffff; /* Linha para separar visualmente do conteúdo do carrinho */
}

.carrinho-conteudo {
    max-width: 100%; /* Garante que não ultrapasse a largura do carrinho */
    overflow: auto; /* Permite rolagem se necessário */
    padding: 0; /* Remove padding para o carrinho */
}


/* Media query para telas menores */
@media (max-width: 800px) {
    #conteudo {
        width: 90%;
        /* Ajuste responsivo para a captura */
    }

    .carrinho-conteudo {
        width: 100%;
        /* Para o carrinho, use 100% da largura disponível */
    }
}

#controles {
    display: flex;
    flex-direction: column;
    /* Coloca os botões um embaixo do outro */
    align-items: center;
    /* Centraliza os itens */
    margin-top: 10px;
}


#loader {
    display: none;
    margin-top: 15px;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #bf5900;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#mensagemOrientacao {
    font-size: 14px;
    color: #000000;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

#linkDownload {
    font-size: 14px;
    color: #111;
    text-decoration: none;
}

#linkDownload:hover {
    color: blue;
    text-decoration: underline;
}